@import url("https://fonts.googleapis.com/css?family=Open+sans:ital,wght@0,300,400,500,600,700,800,900&display=swap");
* {
  font-family: "Open sans", sans-serif;
}

.top {
  position: relative;
}
input {
  width: 35%;
  height: 4vh;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  left: 30%;
  padding-left: 1%;
  font-size: medium;
  font-family: sans-serif;
}
#right {
  display: flex;
  justify-content: space-around;
  top: 20%;
  left: 80%;
  position: absolute;
  gap: 2%;
}
.side {
  margin: 10%;
}
.topul {
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.left {
  text-decoration: none;
  list-style: none;
  margin: 1%;
  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 15%;
  border-radius: 8px;
  cursor: pointer;
}
.left:hover {
  background-color: rgb(242, 242, 242);
}
#top {
  position: absolute;
  top: 10%;
  left: 14%;
  width: 85%;
  height: 15%;
}
#top li {
  float: left;
  display: block;
  width: fit-content;
  border-radius: 10px;
  margin: 1%;
  background-color: rgb(242, 242, 242);
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
#top :nth-child(1) {
  background-color: black;
  color: white;
}
#top :hover {
  background-color: black;
  color: white;
}
#profile {
  width: 10vh;
  height: 7vh;
  border-radius: 50%;
  cursor: pointer;
}
.profile {
  width: 10vh;
  height: 7vh;
  border-radius: 50%;
  align-items: center;
  background-color: rgb(242, 242, 242);
  padding-left: 12.5%;
  cursor: pointer;
}
b {
  position: absolute;
  top: 25%;
  font-size: medium;
  text-decoration: none;
}
#right :hover {
  color: black;
}
.body {
  display: flex;
  justify-content: space-around;
  top: 20%;
  position: absolute;
  gap: 2%;
  position: absolute;
  left: 20%;
  margin-top: 2%;
  width: 75%;
  overflow: visible;
  height: 100%;
  cursor: pointer;
}
.body2 {
  display: flex;
  justify-content: space-around;
  top: 60%;
  position: absolute;
  gap: 2%;
  position: absolute;
  left: 20%;
  margin-top: 2%;
  width: 75%;
  overflow: visible;
  height: 100%;
}
